/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-weight: 300; 
}

.day #wrapper {
    background: #75c1ea;
}
.night #wrapper {
    background: #000033;                
}

#wrapper {
    max-width: 600px;
    padding: 30px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    color: #fff;
}

#results {
    display: none;
}

#loading {
    display: none; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.75); 
    text-align: center; 
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

    #loading small {
        width: 100%;
        position: absolute;
        top: 49%;
        left:0;
    }

#map-canvas {
    width: 100%;
    height: 200px;
}

.placeholder {
    position: absolute; 
    top: 49%; left:0; 
    width: 100%; 
    text-align: center; 
    color: #777;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: #222;
}

.wind-speed-indicator {
    width: 140px;
    height: 215px;
    margin: 0 0 20px 0;
    position: relative;
    background: url(../img/turbine-base.svg) no-repeat bottom center;
}

.wind-speed-indicator::before {
    content: '';
    width: 140px;
    height: 140px;
    background: url(../img/turbine-prop.svg) no-repeat bottom center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.wind-speed-indicator.stage-one::before {
    animation: rotate-wind-turbine 7s linear infinite;
    -webkit-animation: rotate-wind-turbine 7s linear infinite;
}
.wind-speed-indicator.stage-two::before {
    animation: rotate-wind-turbine 4s linear infinite;
    -webkit-animation: rotate-wind-turbine 4s linear infinite;
}
.wind-speed-indicator.stage-three::before {
    animation: rotate-wind-turbine 2s linear infinite;
    -webkit-animation: rotate-wind-turbine 2s linear infinite;
}

@keyframes rotate-wind-turbine {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate-wind-turbine {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}